.header {
    height: 3.5rem;
    width: 100%;
    
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    
    background-color: #0C1026;

    .logo {
        height: 33%;
        grid-column: 2;
    }

    .user{
        grid-column: 3;
        justify-self: end;
        padding-right: 2rem;
    }
}

.body{
    margin-top: 5%;

    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-bottom: 5%;
    }

    .login-form{
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        
        width: 50%;
        margin: 0 25%;
            
        input[type="text"] {   
            padding: 0.5rem 1ch;
            box-sizing: border-box;
           
            border: 2px solid #5F67D4;
            border-radius: 8px;
            
            background-color: #242944;
            color: #B5C6FF;
        }

        .message {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            &:empty::before{
                content: "\00a0";
            }
        }
    
        
        .submit {
            border-radius: 8px;
            background-color: #6163DB;
            color: #FFFFFF;
            text-align: center;
        }
        
    }
}